<%- include("../../partials/header") %>

<div class="container">
	<div class="row">
		<div style="width: 30%; margin: 25px auto;">
			<% var str_review = JSON.stringify(review); %>
			<form action="/reviews/apartment/<%=review._id%>/?_method=PUT&apartment=<%=apartment._id%>&review=<%=str_review%>&num_days=<%=num_days%>&guests=<%=guests%>&check_in=<%=check_in%>&check_out=<%=check_out%>"
				  method="POST">
				<div class="form-group" style="position: relative; left: 33%">
					<fieldset class="rate" id="rating" onclick="rate()" required >
						<input type="radio" id="rating10" name="rating" value="10"
						<% if(review.rating == 10){ %>
							   checked
						<% } %>/>
						<label for="rating10" title="5 stars"></label>
						<input type="radio" id="rating9" name="rating" value="9"
						<% if(review.rating == 9){ %>
							checked
						<% } %>/>
						<label class="half" for="rating9" title="4 1/2 stars"></label>
						<input type="radio" id="rating8" name="rating" value="8"
						<% if(review.rating == 8){ %>
							   checked
						<% } %>/>
						<label for="rating8" title="4 stars"></label>
						<input type="radio" id="rating7" name="rating" value="7"
						<% if(review.rating == 7){ %>
							   checked
						<% } %>/>
						<label class="half" for="rating7" title="3 1/2 stars"></label>
						<input type="radio" id="rating6" name="rating" value="6"
						<% if(review.rating == 6){ %>
							   checked
						<% } %>/>
						<label for="rating6" title="3 stars"></label>
						<input type="radio" id="rating5" name="rating" value="5"
						<% if(review.rating == 5){ %>
							   checked
						<% } %>/>
						<label class="half" for="rating5" title="2 1/2 stars"></label>
						<input type="radio" id="rating4" name="rating" value="4"
						<% if(review.rating == 4){ %>
							   checked
						<% } %>/>
						<label for="rating4" title="2 stars"></label>
						<input type="radio" id="rating3" name="rating" value="3"
						<% if(review.rating == 3){ %>
							   checked
						<% } %>/>
						<label class="half" for="rating3" title="1 1/2 stars"></label>
						<input type="radio" id="rating2" name="rating" value="2"
						<% if(review.rating == 2){ %>
							   checked
						<% } %>/>
						<label for="rating2" title="1 star"></label>
						<input type="radio" id="rating1" name="rating" value="1"
						<% if(review.rating == 1){ %>
							   checked
						<% } %>/>
						<label class="half" for="rating1" title="1/2 star"></label>
					</fieldset>
				</div>
			
				<div class="form-group">
					<input class="form-control" type="text" name="text" value="<%=review.text%>">
				</div>

				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>

	function rate(){
		var rating;
		var star;

		for(var i=0; i<=10; i++){
			rating = document.getElementById("rating" + i);
			if (rating.checked){
				document.getElementById("rating").name = i;
				break;
			}
		}
	}

</script>


<%- include("../../partials/footer") %>